In [4]:
import numpy as np
import pandas as pd
import tensorflow as tf
import ydf # Importing ydf for compatibility with TensorFlow Decision Forests
import tensorflow_decision_forests as tfdf

In [5]:
print("Num GPUs Available: ", len(tf.config.list_physical_devices('GPU')))

Num GPUs Available:  1

In [6]:
print(f"Found TF-DF {tfdf.__version__}")

Found TF-DF 1.12.0

In [7]:
train_df = pd.read_csv('data/train.csv')
test_df = pd.read_csv('data/test.csv')

In [8]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
train_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [10]:
test_df.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [11]:
#Verify the data types of the columns
print(train_df.dtypes)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

### Data Preprocessing

In [12]:
# Drop the 'PassengerId', 'Name' and 'Ticket' columns from both datasets, as it is not useful for training
train_df = train_df.drop(columns=['PassengerId', 'Name', 'Ticket'])
test_df = test_df.drop(columns=['PassengerId', 'Name', 'Ticket'])

In [13]:
# Convert categorical columns to string type
cat_cols = ['Pclass']
train_df[cat_cols] = train_df[cat_cols].astype(str)
test_df[cat_cols] = test_df[cat_cols].astype(str)

In [14]:
# Convert the survival column to 'yes' and 'no' strings
train_df['Survived'] = train_df['Survived'].map({0: 'no', 1: 'yes'})

In [15]:
train_df.head()

  Survived Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0       no      3    male  22.0      1      0   7.2500   NaN        S
1      yes      1  female  38.0      1      0  71.2833   C85        C
2      yes      3  female  26.0      0      0   7.9250   NaN        S
3      yes      1  female  35.0      1      0  53.1000  C123        S
4       no      3    male  35.0      0      0   8.0500   NaN        S

In [16]:
# Count the nan values in the train dataset in each column
train_df.isna().sum().sort_values(ascending=False)

Cabin       687
Age         177
Embarked      2
Survived      0
Pclass        0
SibSp         0
Sex           0
Fare          0
Parch         0
dtype: int64

In [17]:
# Count the nan values in the test dataset in each column
test_df.isna().sum().sort_values(ascending=False)

Cabin       327
Age          86
Fare          1
Pclass        0
SibSp         0
Sex           0
Parch         0
Embarked      0
dtype: int64

In [18]:
# Remove the 'Cabin' column in both datasets, as it has too many missing values
train_df = train_df.drop(columns=['Cabin'])
test_df = test_df.drop(columns=['Cabin'])

In [19]:
# Fill missing values in 'Age' with the median age

## If this is not a good strategy, I will remove the rows

train_df['Age'] = train_df['Age'].fillna(train_df['Age'].median())
test_df['Age'] = test_df['Age'].fillna(test_df['Age'].median())

In [20]:
# Show the embarked values in the 'Embarked' column that is missing
train_df[train_df['Embarked'].isna()]

    Survived Pclass     Sex   Age  SibSp  Parch  Fare Embarked
61       yes      1  female  38.0      0      0  80.0      NaN
829      yes      1  female  62.0      0      0  80.0      NaN

In [21]:
# Fill missing values in 'Embarked' in the train dataset with the most common value
train_df['Embarked'] = train_df['Embarked'].fillna(train_df['Embarked'].mode()[0])

In [22]:
# Fill missing values in 'Fare' in the test dataset with the median fare
test_df['Fare'] = test_df['Fare'].fillna(test_df['Fare'].median())

In [23]:
# Verify that there are no more missing values in the train dataset
train_df.isna().sum().sort_values(ascending=False)

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [24]:
# Verify that there are no more missing values in the test dataset
test_df.isna().sum().sort_values(ascending=False)

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

### Model Training ###

In [25]:
# Create a TensorFlow Decision Forests model
model = tfdf.keras.RandomForestModel(task= tfdf.keras.Task.CLASSIFICATION,
                                      num_trees=100,
                                      max_depth=10,
                                      min_examples=10,
                                      categorical_algorithm='CART',
                                     )

Use /tmp/tmpvbpf97m2 as temporary training directory

I0000 00:00:1754314939.658873  274438 gpu_device.cc:2019] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 4153 MB memory:  -> device: 0, name: NVIDIA GeForce GTX 1660 Ti, pci bus id: 0000:01:00.0, compute capability: 7.5

In [26]:
# Convert the datasets to a TensorFlow datasets
train_data = tfdf.keras.pd_dataframe_to_tf_dataset(train_df, label='Survived')
test_data = tfdf.keras.pd_dataframe_to_tf_dataset(test_df)

In [27]:
model.fit(train_data)  # Train the model on the training dataset

Reading training dataset...
Training dataset read in 0:00:03.310900. Found 891 examples.
Training model...
Model trained in 0:00:00.098963
Compiling model...

WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1754314943.202129  274438 kernel.cc:782] Start Yggdrasil model training
I0000 00:00:1754314943.202171  274438 kernel.cc:783] Collect training examples
I0000 00:00:1754314943.202182  274438 kernel.cc:795] Dataspec guide:
column_guides {
  column_name_pattern: "^__LABEL$"
  type: CATEGORICAL
  categorial {
    min_vocab_frequency: 0
    max_vocab_count: -1
  }
}
default_column_guide {
  categorial {
    max_vocab_count: 2000
  }
  discretized_numerical {
    maximum_num_bins: 255
  }
}
ignore_columns_without_guides: false
detect_numerical_as_discretized_numerical: false

I0000 00:00:1754314943.202608  274438 kernel.cc:401] Number of batches: 1
I0000 00:00:1754314943.202626  274438 kernel.cc:402] Number of examples: 891
I0000 00:00:1754314943.202964  274438 kernel.cc:802] Training dataset:
Number of records: 891
Number of columns: 8

Number of columns by type:
	CATEGORICAL: 4 (50%)
	NUMERICAL: 4 (50%)

Columns:

CATEGORICAL: 4 (50%)
	1: "Embarked" CATEGORICAL has-dict vocab-size:4 zero-ood-items most-frequent:"S" 646 (72.5028%)
	4: "Pclass" CATEGORICAL has-dict vocab-size:4 zero-ood-items most-frequent:"3" 491 (55.1066%)
	5: "Sex" CATEGORICAL has-dict vocab-size:3 zero-ood-items most-frequent:"male" 577 (64.7587%)
	7: "__LABEL" CATEGORICAL integerized vocab-size:3 no-ood-item

NUMERICAL: 4 (50%)
	0: "Age" NUMERICAL mean:29.3616 min:0.42 max:80 sd:13.0124
	2: "Fare" NUMERICAL mean:32.2042 min:0 max:512.329 sd:49.6655
	3: "Parch" NUMERICAL mean:0.381594 min:0 max:6 sd:0.805605
	6: "SibSp" NUMERICAL mean:0.523008 min:0 max:8 sd:1.10212

Terminology:
	nas: Number of non-available (i.e. missing) values.
	ood: Out of dictionary.
	manually-defined: Attribute whose type is manually defined by the user, i.e., the type was not automatically inferred.
	tokenized: The attribute value is obtained through tokenization.
	has-dict: The attribute is attached to a string dictionary e.g. a categorical attribute stored as a string.
	vocab-size: Number of unique values.

I0000 00:00:1754314943.202987  274438 kernel.cc:818] Configure learner
I0000 00:00:1754314943.203221  274438 kernel.cc:831] Training config:
learner: "RANDOM_FOREST"
features: "^Age$"
features: "^Embarked$"
features: "^Fare$"
features: "^Parch$"
features: "^Pclass$"
features: "^Sex$"
features: "^SibSp$"
label: "^__LABEL$"
task: CLASSIFICATION
random_seed: 123456
metadata {
  framework: "TF Keras"
}
pure_serving_model: false
[yggdrasil_decision_forests.model.random_forest.proto.random_forest_config] {
  num_trees: 100
  decision_tree {
    max_depth: 10
    min_examples: 10
    in_split_min_examples_check: true
    keep_non_leaf_label_distribution: true
    num_candidate_attributes: 0
    missing_value_policy: GLOBAL_IMPUTATION
    allow_na_conditions: false
    categorical_set_greedy_forward {
      sampling: 0.1
      max_num_items: -1
      min_item_frequency: 1
    }
    growing_strategy_local {
    }
    categorical {
      cart {
      }
    }
    axis_aligned_split {
    }
    internal {
      sorting_strategy: PRESORTED
    }
    uplift {
      min_examples_in_treatment: 5
      split_score: KULLBACK_LEIBLER
    }
    numerical_vector_sequence {
      max_num_test_examples: 1000
      num_random_selected_anchors: 100
    }
  }
  winner_take_all_inference: true
  compute_oob_performances: true
  compute_oob_variable_importances: false
  num_oob_variable_importances_permutations: 1
  bootstrap_training_dataset: true
  bootstrap_size_ratio: 1
  adapt_bootstrap_size_ratio_for_maximum_training_duration: false
  sampling_with_replacement: true
}

I0000 00:00:1754314943.203634  274438 kernel.cc:834] Deployment config:
cache_path: "/tmp/tmpvbpf97m2/working_cache"
num_threads: 12
try_resume_training: true

I0000 00:00:1754314943.203733  941633 kernel.cc:895] Train model
I0000 00:00:1754314943.203818  941633 random_forest.cc:438] Training random forest on 891 example(s) and 7 feature(s).
I0000 00:00:1754314943.207403  941633 gpu.cc:93] Cannot initialize GPU: Not compiled with GPU support
I0000 00:00:1754314943.208985  941645 random_forest.cc:865] Train tree 1/100 accuracy:0.794304 logloss:7.41404 [index:4 total:0.00s tree:0.00s]
I0000 00:00:1754314943.210223  941650 random_forest.cc:865] Train tree 11/100 accuracy:0.809988 logloss:4.80103 [index:10 total:0.00s tree:0.00s]
I0000 00:00:1754314943.211740  941649 random_forest.cc:865] Train tree 21/100 accuracy:0.817362 logloss:2.92921 [index:21 total:0.00s tree:0.00s]
I0000 00:00:1754314943.213504  941647 random_forest.cc:865] Train tree 31/100 accuracy:0.815937 logloss:2.49964 [index:30 total:0.01s tree:0.00s]
I0000 00:00:1754314943.215464  941644 random_forest.cc:865] Train tree 41/100 accuracy:0.823793 logloss:2.26946 [index:41 total:0.01s tree:0.00s]
I0000 00:00:1754314943.217725  941644 random_forest.cc:865] Train tree 52/100 accuracy:0.819304 logloss:2.08684 [index:53 total:0.01s tree:0.00s]
I0000 00:00:1754314943.219655  941646 random_forest.cc:865] Train tree 62/100 accuracy:0.82716 logloss:1.78781 [index:61 total:0.01s tree:0.00s]
I0000 00:00:1754314943.221330  941644 random_forest.cc:865] Train tree 72/100 accuracy:0.824916 logloss:1.71887 [index:72 total:0.01s tree:0.00s]
I0000 00:00:1754314943.223288  941642 random_forest.cc:865] Train tree 83/100 accuracy:0.821549 logloss:1.60884 [index:83 total:0.02s tree:0.00s]
I0000 00:00:1754314943.225207  941652 random_forest.cc:865] Train tree 93/100 accuracy:0.819304 logloss:1.57465 [index:92 total:0.02s tree:0.00s]
I0000 00:00:1754314943.226974  941643 random_forest.cc:865] Train tree 100/100 accuracy:0.822671 logloss:1.53885 [index:99 total:0.02s tree:0.00s]
I0000 00:00:1754314943.227167  941633 random_forest.cc:949] Final OOB metrics: accuracy:0.822671 logloss:1.53885
I0000 00:00:1754314943.229962  941633 kernel.cc:926] Export model in log directory: /tmp/tmpvbpf97m2 with prefix 0da86439251b443a
I0000 00:00:1754314943.236164  941633 kernel.cc:944] Save model in resources
I0000 00:00:1754314943.239780  274438 abstract_model.cc:921] Model self evaluation:
Number of predictions (without weights): 891
Number of predictions (with weights): 891
Task: CLASSIFICATION
Label: __LABEL

Accuracy: 0.822671  CI95[W][0.800279 0.843466]
LogLoss: : 1.53885
ErrorRate: : 0.177329

Default Accuracy: : 0.616162
Default LogLoss: : 0.665912
Default ErrorRate: : 0.383838

Confusion Table:
truth\prediction
     1    2
1  497   52
2  106  236
Total: 891


2025-08-04 10:42:23.258129: I tensorflow_decision_forests/tensorflow/ops/inference/kernel.cc:1206] Loading model from path /tmp/tmpvbpf97m2/model/ with prefix 0da86439251b443a
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1754314943.289209  274438 decision_forest.cc:808] Model loaded with 100 root(s), 8664 node(s), and 7 input feature(s).
I0000 00:00:1754314943.292397  274438 abstract_model.cc:1439] Engine "RandomForestOptPred" built
2025-08-04 10:42:23.292429: I tensorflow_decision_forests/tensorflow/ops/inference/kernel.cc:1035] Use fast generic engine

Model compiled.

In [28]:
model.summary()  # Print the model summary

Model: "random_forest_model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
=================================================================
Total params: 1 (1.00 Byte)
Trainable params: 0 (0.00 Byte)
Non-trainable params: 1 (1.00 Byte)
_________________________________________________________________
Type: "RANDOM_FOREST"
Task: CLASSIFICATION
Label: "__LABEL"

Input Features (7):
	Age
	Embarked
	Fare
	Parch
	Pclass
	Sex
	SibSp

No weights

Variable Importance: INV_MEAN_MIN_DEPTH:
    1.      "Sex"  0.580120 ################
    2.     "Fare"  0.334135 ######
    3.   "Pclass"  0.255020 ####
    4.      "Age"  0.246121 ###
    5. "Embarked"  0.158898
    6.    "SibSp"  0.154797
    7.    "Parch"  0.145175

Variable Importance: NUM_AS_ROOT:
    1.      "Sex" 58.000000 ################
    2.     "Fare" 20.000000 #####
    3.   "Pclass" 18.000000 ####
    4. "Embarked"  3.000000
    5.    "Parch"  1.000000

Variable Importance: NUM_NODES:
    1.     "Fare" 1705.000000 ################
    2.      "Age" 1569.000000 ##############
    3.   "Pclass" 230.000000
    4.    "SibSp" 230.000000
    5. "Embarked" 224.000000
    6.      "Sex" 177.000000
    7.    "Parch" 147.000000

Variable Importance: SUM_SCORE:
    1.      "Sex" 12795.560656 ################
    2.     "Fare" 8064.365852 #########
    3.      "Age" 5959.539860 ######
    4.   "Pclass" 4470.701696 #####
    5.    "SibSp" 1310.076879
    6. "Embarked" 1049.718921
    7.    "Parch" 655.710585



Winner takes all: true
Out-of-bag evaluation: accuracy:0.822671 logloss:1.53885
Number of trees: 100
Total number of nodes: 8664

Number of nodes by tree:
Count: 100 Average: 86.64 StdDev: 7.53859
Min: 71 Max: 107 Ignored: 0
----------------------------------------------
[  71,  72)  1   1.00%   1.00% #
[  72,  74)  4   4.00%   5.00% ###
[  74,  76)  2   2.00%   7.00% ##
[  76,  78)  6   6.00%  13.00% #####
[  78,  80)  7   7.00%  20.00% ######
[  80,  82)  8   8.00%  28.00% #######
[  82,  83)  0   0.00%  28.00%
[  83,  85) 12  12.00%  40.00% ##########
[  85,  87) 10  10.00%  50.00% ########
[  87,  89)  7   7.00%  57.00% ######
[  89,  91)  9   9.00%  66.00% ########
[  91,  93)  7   7.00%  73.00% ######
[  93,  95) 11  11.00%  84.00% #########
[  95,  96)  6   6.00%  90.00% #####
[  96,  98)  5   5.00%  95.00% ####
[  98, 100)  0   0.00%  95.00%
[ 100, 102)  2   2.00%  97.00% ##
[ 102, 104)  1   1.00%  98.00% #
[ 104, 106)  1   1.00%  99.00% #
[ 106, 107]  1   1.00% 100.00% #

Depth by leafs:
Count: 4382 Average: 6.54245 StdDev: 1.80088
Min: 2 Max: 9 Ignored: 0
----------------------------------------------
[ 2, 3)  10   0.23%   0.23%
[ 3, 4) 204   4.66%   4.88% ##
[ 4, 5) 474  10.82%  15.70% ######
[ 5, 6) 628  14.33%  30.03% ########
[ 6, 7) 813  18.55%  48.59% ##########
[ 7, 8) 737  16.82%  65.40% #########
[ 8, 9) 680  15.52%  80.92% ########
[ 9, 9] 836  19.08% 100.00% ##########

Number of training obs by leaf:
Count: 4382 Average: 20.3332 StdDev: 19.0742
Min: 10 Max: 232 Ignored: 0
----------------------------------------------
[  10,  21) 3408  77.77%  77.77% ##########
[  21,  32)  426   9.72%  87.49% #
[  32,  43)  198   4.52%  92.01% #
[  43,  54)  112   2.56%  94.57%
[  54,  65)   77   1.76%  96.33%
[  65,  76)   39   0.89%  97.22%
[  76,  88)   42   0.96%  98.17%
[  88,  99)   28   0.64%  98.81%
[  99, 110)   19   0.43%  99.25%
[ 110, 121)    4   0.09%  99.34%
[ 121, 132)    5   0.11%  99.45%
[ 132, 143)    3   0.07%  99.52%
[ 143, 154)    5   0.11%  99.63%
[ 154, 166)    9   0.21%  99.84%
[ 166, 177)    1   0.02%  99.86%
[ 177, 188)    3   0.07%  99.93%
[ 188, 199)    1   0.02%  99.95%
[ 199, 210)    1   0.02%  99.98%
[ 210, 221)    0   0.00%  99.98%
[ 221, 232]    1   0.02% 100.00%

Attribute in nodes:
	1705 : Fare [NUMERICAL]
	1569 : Age [NUMERICAL]
	230 : SibSp [NUMERICAL]
	230 : Pclass [CATEGORICAL]
	224 : Embarked [CATEGORICAL]
	177 : Sex [CATEGORICAL]
	147 : Parch [NUMERICAL]

Attribute in nodes with depth <= 0:
	58 : Sex [CATEGORICAL]
	20 : Fare [NUMERICAL]
	18 : Pclass [CATEGORICAL]
	3 : Embarked [CATEGORICAL]
	1 : Parch [NUMERICAL]

Attribute in nodes with depth <= 1:
	113 : Sex [CATEGORICAL]
	75 : Fare [NUMERICAL]
	64 : Pclass [CATEGORICAL]
	28 : Age [NUMERICAL]
	9 : Embarked [CATEGORICAL]
	8 : SibSp [NUMERICAL]
	3 : Parch [NUMERICAL]

Attribute in nodes with depth <= 2:
	185 : Fare [NUMERICAL]
	139 : Sex [CATEGORICAL]
	131 : Age [NUMERICAL]
	120 : Pclass [CATEGORICAL]
	50 : SibSp [NUMERICAL]
	35 : Embarked [CATEGORICAL]
	30 : Parch [NUMERICAL]

Attribute in nodes with depth <= 3:
	396 : Fare [NUMERICAL]
	324 : Age [NUMERICAL]
	166 : Pclass [CATEGORICAL]
	154 : Sex [CATEGORICAL]
	98 : SibSp [NUMERICAL]
	69 : Embarked [CATEGORICAL]
	59 : Parch [NUMERICAL]

Attribute in nodes with depth <= 5:
	971 : Fare [NUMERICAL]
	884 : Age [NUMERICAL]
	206 : Pclass [CATEGORICAL]
	177 : SibSp [NUMERICAL]
	171 : Sex [CATEGORICAL]
	146 : Embarked [CATEGORICAL]
	117 : Parch [NUMERICAL]

Condition type in nodes:
	3651 : HigherCondition
	631 : ContainsBitmapCondition
Condition type in nodes with depth <= 0:
	79 : ContainsBitmapCondition
	21 : HigherCondition
Condition type in nodes with depth <= 1:
	186 : ContainsBitmapCondition
	114 : HigherCondition
Condition type in nodes with depth <= 2:
	396 : HigherCondition
	294 : ContainsBitmapCondition
Condition type in nodes with depth <= 3:
	877 : HigherCondition
	389 : ContainsBitmapCondition
Condition type in nodes with depth <= 5:
	2149 : HigherCondition
	523 : ContainsBitmapCondition
Node format: NOT_SET

Training OOB:
	trees: 1, Out-of-bag evaluation: accuracy:0.794304 logloss:7.41404
	trees: 11, Out-of-bag evaluation: accuracy:0.809988 logloss:4.80103
	trees: 21, Out-of-bag evaluation: accuracy:0.817362 logloss:2.92921
	trees: 31, Out-of-bag evaluation: accuracy:0.815937 logloss:2.49964
	trees: 41, Out-of-bag evaluation: accuracy:0.823793 logloss:2.26946
	trees: 52, Out-of-bag evaluation: accuracy:0.819304 logloss:2.08684
	trees: 62, Out-of-bag evaluation: accuracy:0.82716 logloss:1.78781
	trees: 72, Out-of-bag evaluation: accuracy:0.824916 logloss:1.71887
	trees: 83, Out-of-bag evaluation: accuracy:0.821549 logloss:1.60884
	trees: 93, Out-of-bag evaluation: accuracy:0.819304 logloss:1.57465
	trees: 100, Out-of-bag evaluation: accuracy:0.822671 logloss:1.53885

In [29]:
# Test the model on the test dataset
predictions = model.predict(test_data)  # Get predictions for the test dataset
predictions

1/1 [==============================] - 0s 37ms/step

array([[0.        ],
       [0.3899999 ],
       [0.        ],
       [0.02      ],
       [0.44999984],
       [0.04      ],
       [0.8199995 ],
       [0.16      ],
       [0.8499995 ],
       [0.01      ],
       [0.01      ],
       [0.19000001],
       [0.99999934],
       [0.        ],
       [0.99999934],
       [0.97999936],
       [0.        ],
       [0.05999999],
       [0.35999992],
       [0.66999966],
       [0.27      ],
       [0.44999984],
       [0.9499994 ],
       [0.42999986],
       [0.9699994 ],
       [0.        ],
       [0.98999935],
       [0.05999999],
       [0.41999987],
       [0.10999998],
       [0.        ],
       [0.08999999],
       [0.5099998 ],
       [0.29      ],
       [0.5999997 ],
       [0.05999999],
       [0.22000003],
       [0.14999999],
       [0.        ],
       [0.46999982],
       [0.05999999],
       [0.7099996 ],
       [0.        ],
       [0.99999934],
       [0.99999934],
       [0.08999999],
       [0.32999995],
       [0.05      ],
       [0.98999935],
       [0.6099997 ],
       [0.4799998 ],
       [0.05999999],
       [0.98999935],
       [0.88999945],
       [0.09999999],
       [0.04      ],
       [0.        ],
       [0.05      ],
       [0.01      ],
       [0.99999934],
       [0.01      ],
       [0.06999999],
       [0.01      ],
       [0.89999944],
       [0.33999994],
       [0.9299994 ],
       [0.87999946],
       [0.05999999],
       [0.32999995],
       [0.9599994 ],
       [0.89999944],
       [0.        ],
       [0.31999996],
       [0.23000003],
       [0.98999935],
       [0.3999999 ],
       [0.01      ],
       [0.9199994 ],
       [0.02      ],
       [0.89999944],
       [0.68999964],
       [0.09999999],
       [0.25000003],
       [0.01      ],
       [0.01      ],
       [0.08999999],
       [0.9599994 ],
       [0.23000003],
       [0.9299994 ],
       [0.9599994 ],
       [0.34999993],
       [0.08999999],
       [0.9399994 ],
       [0.01      ],
       [0.28      ],
       [0.08999999],
       [0.98999935],
       [0.13999999],
       [0.58999974],
       [0.02      ],
       [0.99999934],
       [0.02      ],
       [0.05      ],
       [0.08999999],
       [0.5099998 ],
       [0.02      ],
       [0.02      ],
       [0.05      ],
       [0.02      ],
       [0.01      ],
       [0.03      ],
       [0.9599994 ],
       [0.97999936],
       [0.8499995 ],
       [0.98999935],
       [0.13999999],
       [0.05      ],
       [0.90999943],
       [0.5199998 ],
       [0.97999936],
       [0.98999935],
       [0.05      ],
       [0.99999934],
       [0.        ],
       [0.05      ],
       [0.7499996 ],
       [0.03      ],
       [0.76999956],
       [0.01      ],
       [0.        ],
       [0.11999998],
       [0.16      ],
       [0.13999999],
       [0.04      ],
       [0.        ],
       [0.01      ],
       [0.06999999],
       [0.01      ],
       [0.13999999],
       [0.04      ],
       [0.03      ],
       [0.98999935],
       [0.10999998],
       [0.02      ],
       [0.68999964],
       [0.03      ],
       [0.27      ],
       [0.        ],
       [0.7099996 ],
       [0.05      ],
       [0.98999935],
       [0.04      ],
       [0.        ],
       [0.42999986],
       [0.01      ],
       [0.03      ],
       [0.98999935],
       [0.57999974],
       [0.68999964],
       [0.66999966],
       [0.9299994 ],
       [0.6399997 ],
       [0.9399994 ],
       [0.07999999],
       [0.01      ],
       [0.5099998 ],
       [0.20000002],
       [0.05      ],
       [0.9399994 ],
       [0.14999999],
       [0.05999999],
       [0.06999999],
       [0.01      ],
       [0.05      ],
       [0.05999999],
       [0.99999934],
       [0.98999935],
       [0.32999995],
       [0.97999936],
       [0.9599994 ],
       [0.02      ],
       [0.4899998 ],
       [0.99999934],
       [0.05      ],
       [0.9599994 ],
       [0.        ],
       [0.98999935],
       [0.06999999],
       [0.18      ],
       [0.01      ],
       [0.02      ],
       [0.24000004],
       [0.35999992],
       [0.        ],
       [0.6399997 ],
       [0.01      ],
       [0.6399997 ],
       [0.6499997 ],
       [0.        ],
       [0.22000003],
       [0.8499995 ],
       [0.78999954],
       [0.28      ],
       [0.98999935],
       [0.        ],
       [0.23000003],
       [0.7599996 ],
       [0.        ],
       [0.97999936],
       [0.        ],
       [0.07999999],
       [0.07999999],
       [0.13999999],
       [0.90999943],
       [0.32999995],
       [0.14999999],
       [0.9599994 ],
       [0.09999999],
       [0.98999935],
       [0.01      ],
       [0.9699994 ],
       [0.01      ],
       [0.9499994 ],
       [0.03      ],
       [0.90999943],
       [0.56999975],
       [0.05      ],
       [0.9299994 ],
       [0.        ],
       [0.        ],
       [0.16      ],
       [0.97999936],
       [0.        ],
       [0.        ],
       [0.5299998 ],
       [0.        ],
       [0.17      ],
       [0.06999999],
       [0.9699994 ],
       [0.99999934],
       [0.90999943],
       [0.97999936],
       [0.29      ],
       [0.01      ],
       [0.03      ],
       [0.31999996],
       [0.98999935],
       [0.03      ],
       [0.97999936],
       [0.35999992],
       [0.99999934],
       [0.14999999],
       [0.3999999 ],
       [0.        ],
       [0.03      ],
       [0.05999999],
       [0.05      ],
       [0.        ],
       [0.97999936],
       [0.02      ],
       [0.        ],
       [0.        ],
       [0.97999936],
       [0.86999947],
       [0.05999999],
       [0.01      ],
       [0.09999999],
       [0.05999999],
       [0.22000003],
       [0.        ],
       [0.27      ],
       [0.05      ],
       [0.9599994 ],
       [0.8099995 ],
       [0.06999999],
       [0.97999936],
       [0.01      ],
       [0.        ],
       [0.01      ],
       [0.        ],
       [0.12999998],
       [0.8099995 ],
       [0.9299994 ],
       [0.5099998 ],
       [0.7299996 ],
       [0.        ],
       [0.05999999],
       [0.3899999 ],
       [0.05      ],
       [0.01      ],
       [0.21000002],
       [0.8099995 ],
       [0.05      ],
       [0.10999998],
       [0.01      ],
       [0.01      ],
       [0.98999935],
       [0.10999998],
       [0.09999999],
       [0.04      ],
       [0.09999999],
       [0.05999999],
       [0.03      ],
       [0.        ],
       [0.9299994 ],
       [0.9199994 ],
       [0.32999995],
       [0.68999964],
       [0.13999999],
       [0.27      ],
       [0.        ],
       [0.06999999],
       [0.05999999],
       [0.7299996 ],
       [0.98999935],
       [0.88999945],
       [0.19000001],
       [0.        ],
       [0.02      ],
       [0.07999999],
       [0.08999999],
       [0.04      ],
       [0.01      ],
       [0.8399995 ],
       [0.98999935],
       [0.03      ],
       [0.99999934],
       [0.20000002],
       [0.03      ],
       [0.        ],
       [0.97999936],
       [0.40999988],
       [0.06999999],
       [0.6399997 ],
       [0.01      ],
       [0.20000002],
       [0.07999999],
       [0.04      ],
       [0.10999998],
       [0.05      ],
       [0.        ],
       [0.06999999],
       [0.26000002],
       [0.98999935],
       [0.05999999],
       [0.8199995 ],
       [0.01      ],
       [0.68999964],
       [0.        ],
       [0.99999934],
       [0.99999934],
       [0.        ],
       [0.06999999],
       [0.05999999],
       [0.7599996 ],
       [0.25000003],
       [0.97999936],
       [0.01      ],
       [0.05      ],
       [0.6099997 ],
       [0.09999999],
       [0.99999934],
       [0.99999934],
       [0.02      ],
       [0.97999936],
       [0.29      ],
       [0.08999999],
       [0.16      ],
       [0.99999934],
       [0.08999999],
       [0.01      ],
       [0.99999934],
       [0.07999999],
       [0.01      ],
       [0.99999934],
       [0.99999934],
       [0.10999998],
       [0.        ],
       [0.02      ],
       [0.11999998],
       [0.05      ],
       [0.        ],
       [0.5999997 ],
       [0.58999974],
       [0.01      ],
       [0.9599994 ],
       [0.05999999],
       [0.        ],
       [0.01      ],
       [0.27      ],
       [0.36999992],
       [0.9599994 ],
       [0.17      ],
       [0.        ],
       [0.02      ],
       [0.99999934],
       [0.02      ],
       [0.99999934],
       [0.02      ],
       [0.04      ],
       [0.98999935],
       [0.01      ],
       [0.98999935],
       [0.21000002],
       [0.35999992],
       [0.07999999],
       [0.01      ],
       [0.25000003],
       [0.9299994 ],
       [0.8599995 ],
       [0.9299994 ],
       [0.99999934],
       [0.5499998 ],
       [0.01      ],
       [0.99999934],
       [0.        ],
       [0.01      ],
       [0.18      ]], dtype=float32)

In [30]:
# Transform the predictions to values of 0 and 1
predictions = np.where(predictions <= 0.5, 0, 1)
predictions_df = pd.DataFrame(predictions, columns=['Survived'])  # Create a DataFrame with the predictions
predictions_df

     Survived
0           0
1           0
2           0
3           0
4           0
..        ...
413         0
414         1
415         0
416         0
417         0

[418 rows x 1 columns]

In [31]:
results = pd.read_csv('data/gender_submission.csv')  # Read the sample submission file
results.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [32]:
# Count the number of the correct predictions
correct_predictions = (results['Survived'] == predictions_df['Survived']).sum()

# Count the total number of the sample predictions
total_predictions = len(predictions_df)

accuracy = correct_predictions / total_predictions  # Calculate the accuracy
print(f"Accuracy: {accuracy:.2%}")  # Print the accuracy as a percentage

Accuracy: 90.43%

In [33]:
correct_predictions

np.int64(378)